.example-spacer {
  flex: 1 1 auto;
}

.arrow-icon {
}

.center-content {
  display: flex;
  align-items: center;
}

.navbar-title {
  color: darkslategrey;
  text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.2);
  font-size: medium;
  justify-content: center;

}

.custom-logo {
  width: 25px;
  height: 20px;
}

.button-action{
  color: darkslategrey;

}
