<app-navbar></app-navbar>

<div *ngIf="!editingBook;  else editForm">
  <table *ngIf="allBooks && allBooks.length" mat-table [dataSource]="allBooks" class="mat-elevation-z8">
    <!-- title Column -->
    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef class="header-cell"> Book </th>
      <td mat-cell *matCellDef="let element" class="content-cell"> {{element.title}} </td>
    </ng-container>

    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef class="header-cell" > Author </th>
      <td mat-cell *matCellDef="let element" class="content-cell"> {{element.author}} </td>
    </ng-container>

    <!-- dateOfPublication Column -->
    <ng-container matColumnDef="dateOfPublication">
      <th mat-header-cell *matHeaderCellDef class="header-cell" > Publication </th>
      <td mat-cell *matCellDef="let element" class="content-cell"> {{element.dateOfPublication}} </td>
    </ng-container>

    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef class="header-cell" > Genre </th>
      <td mat-cell *matCellDef="let element" class="content-cell"> {{element.genre}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> Action </th>
      <td mat-cell *matCellDef="let element" class="content-cell">
        <button (click)="editBook(element.codISBM)">
          <mat-icon>
            <img src="assets/editIcon.svg" alt="delete icon">
          </mat-icon>
        </button>
        <button (click)="deleteBook(element.codISBM)">
          <mat-icon>
            <img src="assets/trashIcon.svg" alt="delete icon">
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #editForm>
  <div *ngIf="editingBook">
    <!-- Form di modifica per il singolo libro -->
    <form (ngSubmit)="onEditComplete()">
      <label>Title: </label>
      <input [(ngModel)]="editingBook.title" name="title" required>
      <br>
      <label>Author: </label>
      <input [(ngModel)]="editingBook.author" name="author" required>
      <br>
      <label>Date of Publication: </label>
      <input [(ngModel)]="editingBook.dateOfPublication" name="dateOfPublication" required>
      <br>
      <label>Genre: </label>
      <input [(ngModel)]="editingBook.genre" name="genre" required>
      <br>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</ng-template>
