table{
  width: 50%;
  margin: 20px;
}

th,td{
  width: 20%;
  padding: 10px;
}

.header-row {
  background-color: darkslategrey;
  width: 20%;
}

.header-cell{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: large;
}

.content-cell{
  text-align: center;
}

.mdc-data-table__table {
  min-width: 80%;
  border: 0;
  white-space: nowrap;
  border-spacing: 0;
  table-layout: fixed;
  margin: 50px auto 0; /* Imposta il margine automatico per centrare la tabella */
}

.mat-fab-button {
  background-color: #48a655;

}

