.example-spacer {
  flex: 1 1 auto;
}

table{
  width: 50%;
  margin: 20px;
}

th,td{
  width: 20%;
  padding: 10px;
}

.header-row {
  background-color: darkslategrey;
  width: 20%;
}

.header-cell{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: large;
}
