<app-navbar></app-navbar>

<div  *ngIf="pageStatus === PageStatus.loading">
  <p class="loading-p">
    Please wait for edit the books to load, it will take a moment.
  </p>
  <mat-spinner class="loading-page"></mat-spinner>
</div>

<div *ngIf="pageStatus === PageStatus.loaded">
  <!-- Edit Form -->
  <div class="containerEdit" >
    <div class="edit-header">
      Edit Form
    </div>
    <form [formGroup]="editBookForm" (ngSubmit)="editBook()" class="form-field">
      <div class="containerInput">
        <p>
          <input type="hidden" formControlName="id" readonly >

          <mat-form-field appearance="fill" class="readonly-field">
            <mat-label>Code ISBN</mat-label>
            <input matInput formControlName="codISBN" readonly>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Date of Publication</mat-label>
            <input matInput formControlName="dateOfPublication" type="date">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre" placeholder="Select Genre">
              <mat-option value="">Select Genre</mat-option>
              <mat-option value="Fantasy">Fantasy</mat-option>
              <mat-option value="Bibliography">Bibliography</mat-option>
              <mat-option value="Science Fiction">Science Fiction</mat-option>
              <mat-option value="Mystery">Mystery</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Action">Action</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <div class="example-button-row">
          <button mat-raised-button type="submit">
            Complete Edit
            <mat-icon matSuffix>edit</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div  *ngIf="pageStatus === PageStatus.error">
  <div class="error-message">
    <mat-icon matSuffix>sentiment_very_dissatisfied</mat-icon>
    <p>
      Oops, an error occurred while loading the books,<br>
      please try reloading the page.
    </p>
    <button mat-raised-button type="button" (click)="getBookInfo()">
      Reload page
      <mat-icon matSuffix>refresh</mat-icon>
    </button>
  </div>
</div>


